<div>
  <div class="jumbotron">
    <h1>Lab 4 Final !!!</h1>
  </div>
  <form [hidden]="enviado" class="marginUp" #userForm="ngForm">
    <div class="form-group col-md-4 center ">
      <label>Usuario</label>
      <input type="text" class="form-control" id="user" name="user" required [(ngModel)]="usuario.nombre"
        placeholder="Ingrese su usuario" #user="ngModel">
      <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
        El usuario es obligatorio
      </div>
    </div>
    <div class="form-group col-md-4 center">
      <label>Clave</label>
      <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="usuario.pass"
        placeholder="Ingrese su clave" #pass="ngModel">
      <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">
        La clave es obligatoria
      </div>
      <br>
      <button type="submit" (click)="ingresar()" class="btn btn-success"
        [disabled]="!userForm.form.valid">Ingresar</button> &nbsp;
      <button type="submit" routerLink="/register" class="btn btn-primary float-right">Regístrate</button>
    </div>
  </form>
  <div *ngIf="error" class="alert alert-danger" role="alert">
    Usuario o password incorrecto !!!
  </div>
</div>