<div class="fluid-container p-2">
  <div class="center">
    <title>Incidencia</title>
    <div class="form-group">
      <label>Título:</label>
      <input type="text" class="form-control">

      <label>Texto</label>
      <textarea name="texto" id="texto" cols="30" rows="10"></textarea>

      <label>Importancia</label>
      <select name="" id="">
        <option value="">a</option>
      </select>

      <label>Estado</label>
      <select name="" id="">
        <option value="">b</option>
      </select>

      <!-- lista de eventos con redirect -->
    </div>
  </div>
</div>