<div class="container-fluid">
  <br>
  <div class="center">
    <h2>Incidencia</h2>
    <div class="d-inline-flex form-group" style="width: 650px;">
      <label>Título:</label> &nbsp;
      <input type="text" class="form-control" style="width: 100%;" maxlength="60" required>
    </div>

    <div class="d-flex flex-wrap form-group">
      <label>Texto</label> &nbsp; &nbsp;
      <textarea name="texto" id="texto" cols="30" rows="10" style="width: 600px;"></textarea>
      <!-- lista de eventos con redirect -->
    </div>

    <div class="d-flex form-group">
      <label>Importancia</label> &nbsp;
      <select name="" id="">
        <option value="">a</option>
      </select>
      &nbsp; &nbsp;
      <label>Estado</label> &nbsp;
      <select name="" id="">
        <option value="">b</option>
      </select>
    </div>
  </div>
  <div class="d-inline-flex float-left">
    <button class="btn btn-success">Generar Evento</button> &nbsp;
    <button class="btn btn-primary">Editar Evento</button>
  </div>
</div>